<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Relative URLs</title>
</head>
<body>
    <h1>Welcome to Page One</h1>
    <p>
        This page serves as an example of how to use Relative
        URLs with Templates.
    </p>
    
    <div>
        <a href="/first_app/other">Link to page_two.html</a>
    </div>
    <div>
        <a href="{% url 'first_app:other_three' %}">Link to page_three.html</a>
    </div>


</body>
</html>